[submodule "alpha-service"]
	path = alpha-service
	url = https://github.com/FaelCrios/alpha-service
[submodule "beta-service"]
	path = beta-service
	url = https://github.com/FaelCrios/beta-service
[submodule "gama-service"]
	path = gama-service
	url = https://github.com/FaelCrios/gama-service
[submodule "zipkin-distrace"]
	path = zipkin-distrace
	url = https://github.com/FaelCrios/zipkin-distrace
